{{!< default}}

   <!-- feature-one-start -->
    <div class="feature-one-area" id="feature_one">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="feature-one-left">
                        <h2><br/> Fotoğraf Paylaşımı ve Mesajlaşma <br/> Uygulaması.</h2>
                        <p>Takipçileriniz ile arkadaşlarınızla fotoğraf paylaşımı sağlayıp mesajlaşabileceğiniz bir hizmet vermekteyiz.</p>
                        <div class="learn-get-links">
                            <a class="feature-learn-more hvr-bs" href="#">Daha Fazla</a>
                            <a class="feature-learn-more hvr-bs" style=" width:30%" href="#"><img src="/img/google-play-brands.svg" style="max-width:25px">Google Play</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature-one-right">
                        <img src="/img/banner/mockup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature-one-end -->
        <!-- service-one-start -->
    <div class="service-one-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-service-one">
                        <div class="service-img">
                            <img src="img/service-one/s1.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4>Kolay Kullanım</h4>
                            <p>Sistemimizin kurgusunu daha rahat kullanım için en iyi şekilde düzenlemekteyiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-service-one">
                        <div class="service-img"    >
                            <img src="img/service-one/s2.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4>Bilinen Tasarım Anlayışı</h4>
                            <p>Klasik kullanımdan çok uzaklaşmadan benzer bir tasarım açısıyla bakarak daha yenilikçi olacak şekilde arayüzlerimizi tasarlamaktayız.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-service-one">
                        <div class="service-img">
                            <img src="img/service-one/s3.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4>Hata Düzenleme</h4>
                            <p>Yaşadığınız hataları haftalık güncellemelerimizde düzeltmekteyiz. Anlayışınız için teşekkür ederiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-service-one">
                        <div class="service-img">
                            <img src="img/service-one/s4.png" alt="">
                        </div>
                        <div class="service-content">
                            <h4>Anında Destek</h4>
                            <p>Uygulamamızda yaşadığınız her hangi bir sorunda en hızlı şekilde çözüme ulaştırmak için hızlı destek sunmaktayız.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-one-end -->