 <!-- header-start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-8 hidden-sm hidden-xs">
                    <div class="menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="#hero" class="smoothscroll">Ansayfa</a>
                                    <ul class="drop-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a>
                                            <ul class="thirdlevel-menu">
                                                <li><a href="#">Demo 1</a></li>
                                                <li><a href="#">Demo 2</a></li>
                                                <li><a href="#">Demo 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#feature_one" class="smoothscroll">Özellikler</a></li>
                                 <li><a href="#feature_one" class="smoothscroll">Güvenlik</a></li>
                                  <li><a href="#feature_one" class="smoothscroll">Yardım</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
               <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="#hero" class="smoothscroll">Dil - TR</a>
                                    <ul class="drop-menu">
                                        <li><a href="#">TR</a></li>
                                        </li>
                                    </ul>
                                </li>
                           
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- mobile-menu-start -->
    <div class="custom-mobile-menu-area visible-sm visible-xs">
        <div class="mobile-menu">
            <button type="button" data-toggle="collapse" data-target="#mobile_menu_show">MENU</button>
            <i class="fa fa-align-justify" data-toggle="collapse" data-target="#mobile_menu_show"></i>
            <div id="mobile_menu_show" class="collapse">
                <ul>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#hero">Home</a>
                    </li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#feature_one">About</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#awesome_feature">Features</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#screenshot">Screenshots</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#pricing">Pricing</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#faq">FAQs</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#blog">Blog</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- mobile-menu-end -->