<!-- header-start -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <div class="menu">
                    <nav>
                        <ul>
                            <li class="active"><a href="/" class="smoothscroll">Ansayfa</a></li>
                            <li><a href="/spec" class="smoothscroll">Özellikler</a></li>
                            <li><a href="/security" class="smoothscroll">Güvenlik</a></li>
                            <li><a href="/help" class="smoothscroll">Yardım</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="menu">
                    <nav>
                        <ul>
                            <li class="active"><a href="#" class="smoothscroll">Dil - TR</a>
                                <ul class="drop-menu">
                                    <li><a href="#">TR</a></li>
                            </li>
                        </ul>
                        </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<!-- mobile-menu-start -->
<div class="custom-mobile-menu-area visible-sm visible-xs">
    <div class="mobile-menu">
        <button type="button" data-toggle="collapse" data-target="#mobile_menu_show">Puasnow</button>
        <i class="fa fa-align-justify" data-toggle="collapse" data-target="#mobile_menu_show"></i>
        <div id="mobile_menu_show" class="collapse">
            <ul>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="/">Anasayfa</a>
                </li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll"
                        href="/spec">Özellikler</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll"
                        href="/security">Güvenlik</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll"
                        href="/help">Yardım</a></li>
            </ul>
        </div>
    </div>
</div>